##### LOCAWEB - NAO REMOVER #####
AddHandler php54-script .php
suPHP_ConfigPath /home/oficina18/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://japacar.tecnologia.ws/$1 [R,L]
